@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .common-border {
    @apply border-[1px] border-slate-900 shadow-[2px_2px_0px_0px_rgba(15,23,42,1)];
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background: none; /* 스크롤바의 배경 색상 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #fde68a; /* 스크롤바의 색상 */
  border-radius: 10px;
}
